# Python Learning Resources

## Official Python Tutorial
The official Python documentation tutorial. It's a great place to start learning Python from scratch, covering all the basics and more.  
[Official Python Tutorial](https://docs.python.org/3/tutorial/index.html)

## 60 Days of Python - YouTube Playlist
A comprehensive YouTube playlist designed to teach you Python, covering various topics to build your programming skills.  
[60 Days of Python - YouTube Playlist](https://www.youtube.com/playlist?list=PLKdU0fuY4OFf7qj4eoBtvALAB_Ml2rN0V)

## 60 Days of Python - GitHub Repository
The GitHub repository for the 60 Days of Python series. It includes all the code and resources used in the YouTube playlist.  
[60 Days of Python - GitHub Repository](https://github.com/rashakil-ds/60-Days-of-Python-by-Study-Mart-AI-QUEST)

## Python Notes for Professionals - PDF
A free PDF book that offers a wide range of Python notes for professionals. It's a useful reference guide for both beginners and advanced users.  
[Python Notes for Professionals - PDF](https://github.com/rashakil-ds/Top-Data-Science-AI-Book-Collection/blob/main/Books/Python%20Notes%20For%20Professionals.pdf)

# Let's Talk About Python Language

# Python Input/Output (I/O)

Python provides numerous ways to handle input and output. This is essential for interacting with the user and for reading and writing data to and from files.

## Input in Python

To get input from the user, you can use the `input()` function. This function reads a line from the input (usually from the user), converts it to a string, and returns it.

### Example:
```python
# Getting user input
name = input("Enter your name: ") #ami input debo
print("Hello, " + name + "!") #computer output print korbe

In [1]:
input()

100

'100'

In [2]:
input()

40

'40'

In [3]:
x = input()
y = input()

100
40

In [4]:
x

'100'

In [5]:
y

'40'

In [6]:
x+y

'10040'

In [7]:
x = input('enter 1st number')
y = input('enter 2nd value')

enter 1st number10
enter 2nd value20

In [8]:
print(x)

10

In [9]:
print(y)

20

In [10]:
int(x) + int(y)

30

In [11]:
float(x) + float(y)

30.0

In [12]:
str(x) + str(y)

'1020'

In [19]:
print('data science','ai', sep=' ++++++++++++ ', end=' &&& ')
print('data science')

data science ++++++++++++ ai &&& data science

In [20]:
print('data science')
print('data science')

data science
data science

# Python Variables

## What is a Variable?
Variables are like a container for storing data. Compares to other programming languages, Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

## Variable Naming Rules
When naming variables in Python, there are a few rules to keep in mind:
1. **Variable names must start with a letter or the underscore character**.
2. **A variable name cannot start with a number**.
3. **Variable names can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )**.
4. **Variable names are case-sensitive (age, Age, and AGE are three different variables)**.
5. **Reserved words (keywords) cannot be used as variable names**.

## Creating Variables
In Python, a variable is created the moment you first assign a value to it. Unlike other programming languages, you don't need to declare the type of the variable.

### Example:
```python
x = 5
y = "Hello, aiQuest Intelligence!"

Reserved words in Python: https://flexiple.com/python/python-reserved-words <br>
global = 10 -> jabena

In [22]:
age = 27
Age = 28
AGE = 29

In [23]:
age

27

In [24]:
Age

28

In [25]:
AGE

29

In [29]:
age10 = 100
age10

100

In [31]:
# 10age = 10 -> invalid

In [32]:
_age = 100
_age

100

In [34]:
# age& = 20 -> we can't use special char

In [36]:
#my name = 'shakil' -> invalid

# Multi-Word Variable Names in Python

When naming variables that consist of multiple words, it's important to follow certain conventions to ensure readability and maintainability of your code. Here are the common conventions used in Python:

## 1. Snake Case
Snake case is the most common naming convention in Python. In this style, words are separated by underscores (`_`), and all letters are lowercase.

### Example:
```python
first_name = "Rashedul Alam"
last_name = "Shakil"
user_age = 27

In [ ]:
firstname = 'shakil' #its not professional

In [37]:
first_name = "Rashedul Alam"
last_name = "Shakil"
user_age = 27

In [38]:
first_name

'Rashedul Alam'

In [39]:
last_name

'Shakil'

In [40]:
user_age

27

In [41]:
first_name, last_name, user_age = "Rashedul Alam", "Shakil", 27

In [42]:
user_age

27

In [43]:
last_name

'Shakil'

In [45]:
# irst_name, last_name, user_age = "Rashedul Alam", "Shakil" -> not enough values to unpack (expected 3, got 2)

## 2. Camel Case
Camel Case is a naming convention where the first letter of the first word is lowercase, and the first letter of each subsequent concatenated word is capitalized. This convention is commonly used in many programming languages but is less common for variable names in Python.

### Example:
```python
firstName = "Rashedul Alam"
lastName = "Shakil"
userAge = 27

In [46]:
firstName = "Rashedul Alam" 
firstName

'Rashedul Alam'

In [47]:
mySchoolName = 'DM'

In [48]:
mySchoolName

'DM'

In [51]:
MYUNIVERSITYNAME = 1
BYSCHIEALDKSKOSTORER = 2
ahsJdeoFmfsLpps = 3

## 3. Pascal Case in Python

Pascal Case is similar to Camel Case, but with Pascal Case, the first letter of every word is capitalized, including the first word. This helps in distinguishing class names from variable names, which typically use Snake Case in Python.

### Example:
```python
FirstName = "Rashedul Alam"
LastName = "Shakil"
UserAge = 27

In [52]:
FirstName = "Rashedul Alam"
LastName = "Shakil"
UserAge = 27

In [53]:
FirstName

'Rashedul Alam'

In [54]:
LastName

'Shakil'

In [55]:
UserAge

27

# Local Vs. Global Variables

1. Global Variable: Variables that are created outside of a function are known as global variables. Global variables can be used by everyone, both inside of functions and outside. <br>
 
2. Local Variable: Variables that are created inside of a function are known as local variables. local variables can be used inside of the function.

In [56]:
def MyF():
    h = 100 #local
    print(h)

In [57]:
MyF()

100

In [58]:
def MyF():
    h = 100
    return h

In [59]:
MyF()

100

In [62]:
#h #NameError: name 'h' is not defined

In [64]:
k = 20 #global
def myf():
    #h = 100
    print(k)

In [65]:
myf()

20

In [66]:
k

20

In [67]:
k = 20 #global
def myf():
    global h
    h = 100
    print(h)

In [68]:
myf()

100

In [69]:
h

100

In [70]:
def add():
    a=10
    b=20
    return a+b

add()

30

In [71]:
add()

30

In [72]:
def add(a, b):
    return a+b
add(10,30)

40

# All about Python Strings

# All About Python Strings

## Introduction
Strings in Python are sequences of characters enclosed in quotes. They are one of the most commonly used data types in Python, allowing you to work with text data.

## Creating Strings
You can create a string in Python by enclosing characters in either single quotes `'`, double quotes `"`, or triple quotes `'''` or `"""`.

### Examples:
```python
single_quote_string = 'Hello'
double_quote_string = "World"
triple_quote_string = '''This is a
multi-line string.'''
another_triple_quote_string = """This is also a
multi-line string."""

In [73]:
single_quote_string = 'Hello'
double_quote_string = "World"
triple_quote_string = '''This is a
multi-line string.'''
another_triple_quote_string = """This is also a
multi-line string."""

In [74]:
single_quote_string

'Hello'

In [75]:
double_quote_string

'World'

In [76]:
triple_quote_string

'This is a\nmulti-line string.'

In [77]:
type(triple_quote_string)

str

In [78]:
type(another_triple_quote_string)

str

In [79]:
type(10)

int

# Common String Methods in Python

## String Methods

- `capitalize()`
- `casefold()`
- `center()`
- `count()`
- `encode()`
- `endswith()`
- `expandtabs()`
- `find()`
- `format()`
- `format_map()`
- `index()`
- `isalnum()`
- `isalpha()`
- `isascii()`
- `isdecimal()`
- `isdigit()`
- `isidentifier()`
- `islower()`
- `isnumeric()`
- `isprintable()`
- `isspace()`
- `istitle()`
- `isupper()`
- `join()`
- `ljust()`
- `lower()`
- `lstrip()`
- `maketrans()`
- `partition()`
- `replace()`
- `rfind()`
- `rindex()`
- `rjust()`
- `rpartition()`
- `rsplit()`
- `rstrip()`
- `split()`
- `splitlines()`
- `startswith()`
- `strip()`
- `swapcase()`
- `title()`
- `translate()`
- `upper()`
- `zfill()`

These methods provide various ways to manipulate and handle strings in Python, allowing for extensive text processing and formatting capabilities.

In [80]:
x = 'I love Data Science'

In [81]:
x.upper()

'I LOVE DATA SCIENCE'

In [82]:
x.lower()

'i love data science'

In [83]:
x.split()

['I', 'love', 'Data', 'Science']

In [84]:
x.capitalize()

'I love data science'

In [85]:
x.title()

'I Love Data Science'

In [86]:
x.casefold()

'i love data science'

In [88]:
x.isalnum()

False

In [89]:
x.isdigit()

False

# Staring Formating

# String Formatting in Python

String formatting in Python allows you to create formatted strings by embedding values and expressions into string literals. There are several ways to format strings in Python:

## 1. Using the `%` Operator
The `%` operator (also known as the printf operator) allows you to format strings using placeholders.

### Example:
```python
name = "Shakil"
age = 27
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)  # Output: My name is Shakil and I am 27 years old.

In [90]:
name = "Shakil"
age = 27
formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)

My name is Shakil and I am 27 years old.

In [91]:
Age = 28
print('My age is {} years '.format(Age))

My age is 28 years

In [93]:
print('my age is', AGE, 'years')

my age is 29 years

In [94]:
AGE = 30
print('my age is', AGE, 'years')

my age is 30 years

In [95]:
AGE

30

# If-Else Statements

# If-Else Statements in Python

## Introduction
If-else statements in Python are used to execute a block of code based on a condition. If the condition is true, a certain block of code is executed. If the condition is false, an alternative block of code can be executed.

## Syntax
The basic syntax of an if-else statement is:
```python
if condition:
    # code block to execute if condition is true
else:
    # code block to execute if condition is false

In [96]:
x = 20
y = 30
z = 100

if x>y:
    print('x =',x)

else:
    print('None')

None

In [97]:
x = 20
y = 30
z = 100

if x>y:
    print('x =',x)

elif y>x:
    print('y =',y)
    
else:
    print('None')

y = 30

In [98]:
x = 20
y = 30
z = 100

if x>y:
    print('x =',x)

elif y>x:
    if (y%2==1):
        print('odd')
    print('y =',y)
    
else:
    print('None')

y = 30

In [99]:
10%2 #remainder/vagses

0

In [100]:
x = 20
y = 30
z = 100

if x>y:
    print('x =',x)

elif y>x:
    if (y%2==0):
        print('odd')
    print('y =',y)
    
else:
    print('None')

odd
y = 30

In [101]:
x = 20
y = 30
z = 100

if x>y:
    print('x =',x)

if y>x:
    if (y%2==0):
        print('odd')
    print('y =',y)
    
else:
    print('None')

odd
y = 30

In [102]:
x = int(input())
y = int(input())
z = int(input())

if (x>y) and (x>z):
    print('x is largest')
    
elif (y>x) and (y>z):
    print('y is largest')

else:
    print('z is largest')

1
4
7
z is largest

In [103]:
x = int(input())
y = int(input())
z = int(input())

if (x>y) and (x>z):
    print('x is largest')
    
elif (y>x) and (y>z):
    print('y is largest')

else:
    print('z is largest')

20
3
5
x is largest

# For Loops in Python

## Introduction
A `for` loop in Python is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) and execute a block of code for each item in the sequence. It is one of the most common control flow statements in Python.

## Syntax
The basic syntax of a `for` loop is:
```python
for item in sequence:
    # code block to execute

In [104]:
range(10)

range(0, 10)

In [105]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [108]:
for x in range(5,10): # start from index x and end index (x-1)
    print(x)

5
6
7
8
9

In [110]:
data = 'I love data science'

In [111]:
for i in data:
    print(i)

I

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

In [112]:
for i in data.split():
    print(i)

I
love
data
science

In [113]:
data.split()

['I', 'love', 'data', 'science']

In [114]:
for i in range(1,5):
    print(i, 'data science')

1 data science
2 data science
3 data science
4 data science

In [116]:
for i in range(1,6):
    print('data science')

data science
data science
data science
data science
data science

In [117]:
for i in range(1,10,2):
    print(i, 'data science')

1 data science
3 data science
5 data science
7 data science
9 data science

In [118]:
for i in range(100, 1, -10):
    print(i, 'data science')

100 data science
90 data science
80 data science
70 data science
60 data science
50 data science
40 data science
30 data science
20 data science
10 data science

# While Loops in Python

## Introduction
A `while` loop in Python is used to repeatedly execute a block of code as long as a given condition is true. It is useful for situations where you do not know beforehand how many times you need to repeat a block of code.

## Syntax
The basic syntax of a `while` loop is:
```python
while condition:
    # code block to execute

In [119]:
for i in range(1,6,1):
    print('data science')

data science
data science
data science
data science
data science

In [120]:
i = 1
while i<10:
    print('data science')
    i = i+2

data science
data science
data science
data science
data science

In [121]:
i = 1
while i<10:
    print(i, 'data science')
    i = i+2

1 data science
3 data science
5 data science
7 data science
9 data science